* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}

nav {
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    display: inline-block;
    background-color: lightgray;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.highlight {
    background-color: white;
}

.welcome-message, .about, .books-search-results, .movies-search-results, .tv-search-results  {
    padding: 0;
}

.welcome-message, .results {
    margin: 30% 10px 10px 10px;
}

.about {
    margin: 10px 10px 0 10px;
}

.books-search-results, .movies-search-results, .tv-search-results {
    margin: 0 10px 0 10px;
}

.welcome-message p {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.media-options, .search-field, .results-media-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0 0 10px 0;
}

.movies-button, .results-movies-button {
    margin-left: 10px;
    margin-right: 10px;
}

.search-button {
    margin-left: 5px;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scores * {
    margin: 3px 0 20px 0;
    padding-left: 5px;
    padding-right: 5px;
}

.left-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.left-right-buttons p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

button {
    border-radius: 4px;
}

input[type=submit] {
    border-radius: 0px;
}

.scores-title {
    padding: 0;
    margin: 20px 0 0 0;
}

.highlight.results-books-button, .book-next-button, .book-prev-button {
    background-color: lightpink;
}

.highlight.results-movies-button, .movie-next-button, .movie-prev-button  {
    background-color: lightskyblue;
}

.highlight.results-tv-button, .tv-next-button, .tv-prev-button  {
    background-color: lightgreen;
}

@media screen and (min-width:375px) {
    .welcome-message, .results {
        margin: 26% 10px 10px 10px;
    }
}

@media screen and (min-width:414px) {
    .welcome-message, .results {
        margin: 23% 10px 10px 10px;
    }
}

@media screen and (min-width:500px) {
    .welcome-message, .results {
        margin: 20% 10px 10px 10px;
    }
}

@media screen and (min-width:750px) {
    .welcome-message, .results {
        margin: 13% 50px 10px 50px;
    }

    .about {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (min-width:1000px) {
    .welcome-message, .results {
        margin: 10% 50px 10px 50px;
    }

    .search-results {
        display: flex;
        flex-direction: row;
        flex: 1 1 0px;
    }

    .books-search-results, .movies-search-results, .tv-search-results {
        flex: 1 1 0px;
    }
}

@media screen and (min-width:1280px) {
    .welcome-message, .results {
        margin: 8% 75px 10px 75px;
    }

    .about {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1600px) {
    .welcome-message, .results {
        margin: 6% 75px 10px 75px;
    }
}

@media screen and (min-width:1920px) {
    .welcome-message, .results {
        margin: 5% 100px 10px 100px;
    }
}