* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 17px;
    line-height: 25px;
}

.hidden {
    display: none;
}

nav {
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    display: inline-block;
    background-color: lightgray;
    background: linear-gradient(to right, lightpink, lightskyblue, goldenrod);
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-top: 8px;
}

h2, h3 {
    font-size: 1.5em;
}

h3 {
    margin-top: 10px;
}

h4 {
    font-size: 1.17em;
}

.home-link {
    text-decoration: none;
    color: black;
}

.highlight {
    background-color: white;
}

.welcome-message, .about, .books-search-results, .movies-search-results, .tv-search-results  {
    padding: 0;
}

.welcome-message, .results {
    margin: 30% 10px 10px 10px;
}

.about {
    margin: 10px 10px 0 10px;
}

.books-search-results, .movies-search-results, .tv-search-results {
    margin: 0 10px 0 10px;
}

.books-search-results {
    border-top: 3px solid lightpink;
}

.movies-search-results {
    border-top: 3px solid lightskyblue;
}

.tv-search-results {
    border-top: 3px solid goldenrod;
}

.welcome-message p {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.search-field, .results-media-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.search-field {
    margin: 10px 0 10px 0;
    text-align: center;
    vertical-align: center;
}

.results-media-options {
    margin: 0 0 10px 0;
}

.results-movies-button {
    margin-left: 10px;
    margin-right: 10px;
}

.search-button {
    margin-left: 5px;
    background-color: lightgray;
    display: inline-block;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scores * {
    margin: 3px 0 20px 0;
    padding-left: 5px;
    padding-right: 5px;
}

.left-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 20px;
}

.left-right-buttons p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

button {
    border-radius: 4px;
    font-weight: bold;
    padding: 0 8px 0 8px;
}

input[type=submit] {
    border-radius: 0px;
}

.scores-title {
    padding: 0;
    margin: 20px 0 0 0;
}

.results-books-button, .results-movies-button, .results-tv-button {
    width: 75px;
}

.highlight.results-books-button, .book-next-button, .book-prev-button {
    background-color: lightpink;
}

.highlight.results-movies-button, .movie-next-button, .movie-prev-button  {
    background-color: lightskyblue;
}

.highlight.results-tv-button, .tv-next-button, .tv-prev-button  {
    background-color: goldenrod;
}

.image-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-links a {
    margin: 0 10px 0 10px;
}

.powered-by-img {
    width: 100px;
    height: 100px;
}

.make-bold {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
}

.book-cover, .movie-poster, .tv-show-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 150px;
    height: 180px;
}

.books-tooltip, .movies-tooltip, .tv-tooltip {
    position: relative;
    display: inline-block;
}
  
.books-tooltip-text, .movies-tooltip-text, .tv-tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: lightgrey;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    top: 20px;
    left: -75px;
}
  
.books-tooltip:hover .books-tooltip-text, .movies-tooltip:hover .movies-tooltip-text, .tv-tooltip:hover .tv-tooltip-text {
    visibility: visible;
}

@media screen and (min-width:375px) {
    .welcome-message, .results {
        margin: 26% 10px 10px 10px;
    }
}

@media screen and (min-width:414px) {
    .welcome-message, .results {
        margin: 23% 10px 10px 10px;
    }
}

@media screen and (min-width:500px) {
    .welcome-message, .results {
        margin: 20% 10px 10px 10px;
    }
}

@media screen and (min-width:750px) {
    .welcome-message, .results {
        margin: 13% 50px 10px 50px;
    }

    .about {
        margin-left: 50px;
        margin-right: 50px;
    }

    .powered-by-img {
        margin: 0 20px 0 20px;
    }
}

@media screen and (min-width:1000px) {
    body {
        font-size: 18px;
    }

    .welcome-message, .results {
        margin: 10% 50px 10px 50px;
    }

    .search-results {
        display: flex;
        flex-direction: row;
        flex: 1 1 0px;
    }

    .books-search-results, .movies-search-results, .tv-search-results {
        flex: 1 1 0px;
    }

}

@media screen and (min-width:1280px) {
    .welcome-message, .results {
        margin: 8% 75px 10px 75px;
    }

    .about {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1600px) {
    .welcome-message, .results {
        margin: 6% 75px 10px 75px;
    }
}

@media screen and (min-width:1920px) {
    .welcome-message, .results {
        margin: 5% 100px 10px 100px;
    }
}