* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}

nav {
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    display: inline-block;
    background-color: lightgray;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

/*
.books-button, .movies-button, .tv-button {
    background-color: white;
}
*/

.highlight {
    background-color: white;
}

.welcome-message, .about, .books-search-results, .movies-search-results, .tv-search-results  {
    padding: 0;
}

.welcome-message, .results {
    margin: 39% 10px 10px 10px;
}

.about, .books-search-results, .movies-search-results, .tv-search-results {
    margin: 10px 10px 0 10px;
}

.welcome-message p {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.media-options, .search-field, .results-media-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0 0 10px 0;
}

.movies-button, .results-movies-button {
    margin-left: 10px;
    margin-right: 10px;
}

.search-button {
    margin-left: 5px;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scores * {
    padding-left: 5px;
    padding-right: 5px;
}


